$almostBlack: #0f1112
$brownGrey: #666666
$accent: #ccac5b
$darkGrey: #22272b
$coolGrey: #a7a9ac
$white: #ffffff

$brand-color-1: #0f1112
$brand-color-2: #666666
$brand-color-3: #ccac5b
$brand-color-4: #22272b
$brand-color-5: #a7a9ac
$brand-color-6: #ffffff

// Buttons
$button-style-1-color: $brand-color-6

// Details
$details-header-background: $brand-color-1
$details-background: $brand-color-6

$details-controls-background: $brand-color-2
$details-controls-color: $brand-color-6

$details-summary-date-color: $brand-color-5

// Data
$data-header-color: $brand-color-3
$data-header-border-color: $brand-color-3
$data-column-border-color: $brand-color-5
$data-label-color: $brand-color-5

// Footer
$footer-background: $brand-color-4
$footer-text-color: $brand-color-2
$footer-link-color: $brand-color-5

// Typography
$link-style-1-color: $brand-color-3
$link-style-2-color: $brand-color-5